
h2 {
    width: 750px;
    margin: 0 auto;
    margin-top: 5vh;
}

.count {
    width: 750px;
    height: 25vh;
    margin: 0 auto;
    margin-top: 1vh;
    line-height: 25vh;
    text-align: center;
    background-color: honeydew;
    font-size: 3vh;
}

#counter1 {
    font-size: 20vh;
}

#counter2 {
    font-size: 20vh;
}

#counter3 {
    font-size: 20vh;
}

button {
    border: none;
    outline: none;
    display: block;
    line-height: 30px;
    width: 500px;
    font-size: 120%;
    color: #fff;
    background-color: #444444;
    cursor:pointer; 
    box-sizing: content-box;
    transition:0.3s ease all;
	border-radius: 30px;
    margin: 0 auto;
	margin-top: 4vh;
    text-align: center;
  }

  button:hover {
    background-color: #222222;
  }

  @media only screen and (max-width: 849px){
    
    h2 {
        width: 90vw;
    }
    
    .count {
        width: 90vw;
    }

    button {
        width: 75vw;
    }

}